{% extends "./base2.html" %}
{% load static %}
{% block title%} Danh sách các sản phẩm {% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'js/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/admin/select.dataTables.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/admin/vendors/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid page-body-wrapper">
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminPage:dashboard' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
              <i class="icon-book menu-icon"></i>
              <span class="menu-title">Sản phẩm</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="products">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'adminPage:products_List' %}"><i class="mdi mdi-information-outline"></i>Thông tin</a></li>
              </ul>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'adminPage:product_Add' %}"><i class="mdi mdi-plus-circle"></i>Thêm</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminPage:users_List' %}">
              <i class="ti-user menu-icon"></i>
              <span class="menu-title">Người dùng</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminPage:orders_List' %}">
              <i class="ti-view-list-alt menu-icon"></i>
              <span class="menu-title">Đơn hàng</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Thông tin Đơn hàng</p>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="example" class="display expandable-table table-striped" style="width:100%">
                          <thead>
                            <tr style="white-space: pre; text-align: center;">
                              <th>STT</th>
                              <th>Tên</th>
                              <th>Sản phẩm</th>
                              <th>Giá</th>
                              <th>Ngày đặt</th>
                              <th>Ngày nhận</th>
                              <th style="min-width: 85px;">Địa chỉ</th>
                              <th>Trạng thái</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for order in orders %}
                            <form  id="formTarget" enctype="multipart/form-data" method="POST" action="{% url 'adminPage:statusChange' %}">  
                              {% csrf_token %}
                              <tr class="clickable-row order_row" style="text-align: center;">
                                    <td class="stt"></td>
                                    <td>{{ order.user_id.username }}</td>
                                    <td>
                                      <ul class="list-product">
                                          {% for order_item in order.order_item.all %}
                                          <li class="product">
                                              <span class="title">{{order_item.product_id.name}}</span>
                                              <span class="quantity">x{{order_item.quantity}}</span>
                                          </li>
                                          {% endfor %}
                                      </ul>
                                    </td>
                                    <td>{{ order.total }} đồng</td>
                                    <td>
                                      <input type="datetime" style="width: 100px; padding: 0 9px;" 
                                          name="" value='{{order.created_at|date:"d-m-Y"}}' disabled>
                                    </td>
                                    <td>
                                      {% if order.status == 'Hoàn thành' %}
                                          <input type="datetime" style="width: 100px; padding: 0 9px;" 
                                          name="" value='{{order.updated_at|date:"d-m-Y"}}' disabled>                                
                                      {% endif %}
                                    </td>
                                    <td>{{order.address}}</td>
                                    <input type='text' hidden name="orderID" value="{{ order.id }}"></input>
                                    <td style="justify-self: center;">
                                      <div class="dropdown">
                                        <input id="currentStatus" type='text' style="display: none;" name="newStatus" value="{{ order.status }}"></input>
                                        <button class="btn btn-primary btn-sm dropdown-toggle dropdown-btn" type="button" id="dropdown_Button" name="statusChange" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ order.status }}</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdown_Button">
                                          <a class="dropdown-item btn-item1" style="cursor: pointer;">Chờ xác nhận</a>
                                          <a class="dropdown-item btn-item1" style="cursor: pointer;">Đang vận chuyển</a>
                                          <a class="dropdown-item btn-item2" style="cursor: pointer;">Hoàn thành</a>
                                          <a class="dropdown-item btn-item3" style="cursor: pointer;">Đã hủy</a>
                                        </div>
                                      </div>
                                      <script>
                                        function uniqueButton() {
                                          document.getElementById('dropdown_Button').id = 'dropdown_Button' + count.toString();
                                          document.getElementById('formTarget').id = 'formTarget' + count.toString();
                                          document.getElementById('currentStatus').id = 'currentStatus' + count.toString();
                                          count++;
                                        }
                                        uniqueButton();
                                      </script>
                                    </td>
                              </tr>
                            </form>
                            {% endfor %} 
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
{% endblock %}

{% block extra_js %}
  <!-- Plugin js for this page -->
  <script src="{% static 'js/admin/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
  <script src="{% static 'js/admin/vendors/select2/select2.min.js' %}"></script>
  <!-- Custom js for this page-->
  <script src="{% static 'js/admin/typeahead.js' %}"></script>
  <script src="{% static 'js/admin/select2.js' %}"></script>
  <script>
    $(".dropdown-btn").on("click", function() {
      buttonID = "#" + $(this).attr('id');
      IDnumber = buttonID.substring(16, 17);
      formID = "#formTarget" + IDnumber;
      currentStatusID = "#currentStatus" + IDnumber;
    });

    $(".dropdown-menu a").on("click", function() {
      let buttonContent = ["Chờ xử lý", "Đang vận chuyển", "Hoàn thành", "Đã hủy"];
      $(buttonID).text($(this).text());
      content = $(this).text();
      $(currentStatusID).attr('value', content);
      console.log(currentStatusID);
      for (let i = 0; i < 4; i++) {
        if (content == buttonContent[i]) {
          buttonContent.splice(i, 1);
          break;
        }
      }
      $(buttonID + " + " + "div .btn-item1").text(buttonContent[0]);
      $(buttonID + " + " + "div .btn-item2").text(buttonContent[1]);
      $(buttonID + " + " + "div .btn-item3").text(buttonContent[2]);
      $(formID).submit();
      alert("Cập nhật trạng thái đơn hàng thành công!");
    });
    $(document).ready(function() {
    let order = $('.order_row');

    if(order.length == 0) {
        $('.empty-order').show();
        $('.history').hide();
    }

    order.each(function(index){
        $(this).find('.stt')[0].textContent = index+1;
    })
});
  </script>  
{% endblock %}