{% extends "./base.html" %}
{% load static %}
{% load humanize %}
{% block title%} Home {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/store/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/store/slide.css' %}" />
{% endblock %}

{% block content %}
    <div id="slider">
        <div class="mySlides fadeup active">
            <img class="slide-img" src="{% static 'img/slide1.png' %}" alt="slide1">
        </div>
        <div class="mySlides fadeup">
            <img class="slide-img" src="{% static 'img/slide2.png' %}" alt="slide2">
        </div>
        <div class="mySlides fadeup">
            <img class="slide-img" src="{% static 'img/slide3.png' %}" alt="slide3">
        </div>
        <a class="prev" >&#10094;</a>
        <a class="next" >&#10095;</a>
    </div>
    <div class="content container">
        <div class="section">
            <div class="content-heading">
                <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_dealhot.png">
                <h3>Xu hướng mua sắm</h3>
            </div>
            <div class="type">
                <button class = 'type-btn active'>Sản phẩm khuyến mãi</button>
                <button class = 'type-btn'>Xu hướng trong tháng</button>
                <button class = 'type-btn'>Sản phẩm mới</button>
            </div>
            <div class="category-list row trending active">
                {% for product in discountProducts %}
                <div class="product-wrapper col-xl-2 col-lg-2">
                    <div class="product-item">
                        <a href="{% url 'store:detail' product.id %}" class="product-item-link">
                            {% for image in product.images.all %}
                                {% if image.main_image is True %}
                                    <img src="{{image.path.url}}" class="product-img">
                                {% endif %}
                            {% endfor %}
                            <h4 class="product-name">{{product.name}}</h4>
                        </a>
                        <div class="product-item-category">
                            <p class="ddc-code">Thể loại: <span>{{product.category_id.name}}</span></p>
                        </div>
                        <div class="product-item-action">
                            <span class="price format">Giá: {{product.price}}đ</span>
                            <span class="product-sold">SL: {{product.inven.quantity}}</span>
                        </div>
                        {% if product.discount_id and product.discount_id.is_active %}
                        <div class="home-product-item__sale">
                            <span class="home-product-item__sale-percent">{{ product.discount_id.discount_percent }}</span>
                            <span class="home-product-item__sale-title">GIẢM</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="category-list row trending">
                {% for product, sold in trendingProducts %}
                <div class="product-wrapper col-xl-2 col-lg-2">
                    <div class="product-item">
                        <a href="{% url 'store:detail' product.id %}" class="product-item-link">
                            {% for image in product.images.all %}
                                {% if image.main_image is True %}
                                    <img src="{{image.path.url}}" class="product-img">
                                {% endif %}
                            {% endfor %}
                            <h4 class="product-name">{{product.name}}</h4>
                        </a>
                        <div class="product-item-category">
                            <p class="ddc-code">Thể loại: <span>{{product.category_id.name}}</span></p>
                        </div>
                        <div class="product-item-action">
                            <span class="price format">Giá: {{product.price}}đ</span>
                            <span class="product-sold">SL: {{product.inven.quantity}}</span>
                        </div>
                        <div class="product-item-action" style="justify-content:center;">
                            <span class="product-sold">Đã bán trong tháng: {{sold}}</span>
                        </div>
                        <div class="home-product-item__favourite">
                            <i class="fab fa-hotjar"></i>
                            Trending
                        </div>
                        {% if product.discount_id and product.discount_id.is_active %}
                        <div class="home-product-item__sale">
                            <span class="home-product-item__sale-percent">{{ product.discount_id.discount_percent }}</span>
                            <span class="home-product-item__sale-title">GIẢM</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="category-list row trending">
                {% for product in newProducts %}
                <div class="product-wrapper col-xl-2 col-lg-2">
                    <div class="product-item">
                        <a href="{% url 'store:detail' product.id %}" class="product-item-link">
                            {% for image in product.images.all %}
                                {% if image.main_image is True %}
                                    <img src="{{image.path.url}}" class="product-img">
                                {% endif %}
                            {% endfor %}
                            <h4 class="product-name">{{product.name}}</h4>
                        </a>
                        <div class="product-item-category">
                            <p class="ddc-code">Thể loại: <span>{{product.category_id.name}}</span></p>
                        </div>
                        <div class="product-item-action">
                            <span class="price format">Giá: {{product.price}}đ</span>
                            <span class="product-sold">SL: {{product.inven.quantity}}</span>
                        </div>
                        <div class="home-product-item__favourite">
                            <i class="fas fa-check"></i>
                            New
                        </div>
                        {% if product.discount_id and product.discount_id.is_active %}
                        <div class="home-product-item__sale">
                            <span class="home-product-item__sale-percent">{{ product.discount_id.discount_percent }}</span>
                            <span class="home-product-item__sale-title">GIẢM</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for category, products in context.items %}         
        <div class="section">
            <div class="content-heading">
                <h3>Máy tính {{category}}</h3>
            </div>
            <div class="category-list row">
                {% for product in products %}
                <div class="product-wrapper col-xl-2 col-lg-2">
                    <div class="product-item">
                        <a href="{% url 'store:detail' product.id %}" class="product-item-link">
                            {% for image in product.images.all %}
                                {% if image.main_image is True %}
                                    <img src="{{image.path.url}}" class="product-img">
                                {% endif %}
                            {% endfor %}
                            <h4 class="product-name">{{product.name}}</h4>
                        </a>
                        <div class="product-item-category">
                            <p class="ddc-code">Thể loại: <span>{{category}}</span></p>
                        </div>
                        <div class="product-item-action">
                            <span class="price format">Giá: {{product.price}}đ</span>
                            <span class="product-sold">SL: {{product.inven.quantity}}</span>
                        </div>
                        {% if product.discount_id and product.discount_id.is_active %}
                        <div class="home-product-item__sale">
                            <span class="home-product-item__sale-percent">{{ product.discount_id.discount_percent }}</span>
                            <span class="home-product-item__sale-title">GIẢM</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="read-more">
                <a href="/shelf/?category={{category}}" class="read-more-btn">Xem thêm</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}

{% block extra_js %}
    <script src = "{% static 'js/slide.js' %}"></script>
    <script src = "{% static 'js/home.js' %}"></script>
{% endblock %}